---
import Base from "../layouts/Base.astro";
import Abertura from "../components/experience/Abertura.astro";
import Descoberta from "../components/experience/Descoberta.astro";
import Pensamento from "../components/experience/Pensamento.astro";
import Evidencias from "../components/experience/Evidencias.astro";
import Conexao from "../components/experience/Conexao.astro";
import CaseOverlay from "../components/experience/CaseOverlay.tsx";
---

<Base>
  <a
    href="#descoberta"
    class="btn btn-accent sr-only focus:not-sr-only focus:fixed focus:left-4 focus:top-4 focus:z-50"
  >
    Pular a abertura
  </a>
  <main>
    <Abertura />
    <Descoberta />
    <Pensamento />
    <Evidencias />
    <Conexao />
  </main>
  <CaseOverlay client:idle />
</Base>
